/* Layout improvements */
.todo-app-layout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  min-width: 64vw;
}

/* Pomodoro Section */
.pomodoro {
  background: var(--glass-bg);
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  max-width: 280px;
}

.timer {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: bold;
  color: var(--primary-color);
  ;
}

.timer-controls button {
  margin: 0 6px;
  padding: 0.5rem 1rem;
  width: 80%;
  margin: 4px auto;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  box-shadow: 0 8px 32px var(--shadow-color);
}

.timer-controls button:disabled {
  background-color: #ccc;
}

.timer-controls button:hover:not(:disabled) {
  background-color: var(--primary-color);
  ;
}

.todo-input-bar-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: 1px solid var(--shadow-color);
  border-radius: 25px;
  padding: 8px;
  width: 40vw;
}

.todo-input-bar button {
  background-color: var(--primary-color);
  ;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.passive-button {
  background-color: transparent !important;
  border: 1px solid var(--shadow-color);
  color: var(--text-color);
}

input[type="text"],
textarea {
  border-radius: 6px;
  padding: 4px;
}

.todo-input-bar input[type="text"],
.todo-input-bar input[type="datetime-local"] {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--glass-bg);
}

.title-container {
  border-radius: 25px;
  background-color: var(--glass-bg);
}

/* Input Bar */
.todo-input-bar {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.more-options {
  flex-direction: column;
  gap: 8px;
}

.more-options textarea {
  border-radius: 8px;
  padding: 2px;
}

.todo-texts {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  gap: 4px;
  color: var(--text-color);
}

.todo-date {
  font-size: 0.8rem;
  color: #888;
}

.todo-input-bar button img {
  width: 24px;
  height: 24px;
  border-radius: 25px;
}

/* Todo List */
.timeline-list {
  max-width: 600px;
}

.timeline-day {
  margin-bottom: 2rem;
}

.timeline-date {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

/* Individual Task */
.todo-item {
  background: var(--glass-bg);
  padding: 4px;
  border-radius: 0 8px 8px 8px;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-item:hover {
  box-shadow: 0 4px 16px var(--shadow-color);
}

.todo-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  max-width: 50vw;
  text-align: left;
  padding: 2px 0;
}

.todo-title {
  font-weight: 400;
  word-wrap: break-word;
}

.todo-title.strike {
  text-decoration: line-through;
  color: #888;
}

.todo-desc {
  display: flex;
  width: 80%;
  font-size: 0.9rem;
  color: #666;
  word-wrap: break-word;
}

.todo-meta-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.8rem;
  color: #777;
}

.todo-reminder {
  color: #f39c12;
}

/* Tag for completed */
.todo-completed-tag {
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}

@media (max-width: 768px) {
  .todo-app-layout {
    flex-direction: column;
    margin-top: 40px;
    height: calc(100vh - 120px);
    overflow-y: auto;
    padding: 0;
    margin: 0;
  }

  .todo-input-bar-container {
    min-width: 60vw;
  }
}

.todo-app-left,
.todo-app-right {
  width: 100%;
}

.timeline-container {
  padding: 8px 0 8px 8px;
  max-height: 50vh;
  overflow-y: auto;
}

.timeline-container::-webkit-scrollbar {
  width: 6px;
}

.timeline-day {
  text-align: center;
  color: var(--text-color);
}

.timeline-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #444;
}

.timeline-pipe {
  position: relative;
  border-left: 3px solid var(--dot-color);
}

.timeline-tasks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeline-node {
  position: relative;
  margin: 16px;
}

.timeline-dot {
  position: absolute;
  left: -24px;
  width: 14px;
  height: 14px;
  background-color: var(--dot-color);
  border-radius: 50%;
  z-index: 1;
}

.completed-dot {
  background-color: var(--primary-color);
}

.timeline-content {
  margin-left: 10px;
}

.timeline-separator {
  border-top: 2px dashed #ccc;
  margin: 20px 0;
}

.session-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  max-height: 30vh;
  overflow: auto;
}