.color-picker-container {
    display: flex;
    flex-direction: column; /* Default for desktop */
    justify-content: center;
    gap: 2rem;
    width: 88vw;
    height: 80vh;
    border: 1px solid var(--dot-color);
    padding: 16px 0;
    background-color: var(--glass-bg);
    border-radius: 8px;
    max-height: calc(100vh - 160px);
}

@media (min-width: 768px) {
  .color-picker-container {
    flex-direction: row; /* Change to row for mobile devices */
  }
}

/* Left Panel: Color Grid */
.color-grid-panel {
    display: flex;
    max-width: 60vw;
    max-height: 80vh;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-gap: 1px;
    width: 100%;
    max-width: 60vw;
}

.color-swatch {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 0px;
    transition: transform 0.3s ease;
}

.color-swatch:hover {
    transform: scale(1.1);
}

/* Right Panel: Selected Color */
.color-info-panel {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

@media (max-width: 980px) {
  .color-info-panel {
    gap: 20vw;
    justify-content: space-evenly;
    flex-direction: row; /* Change to row for mobile devices */
  }
}

.color-input {
    margin: 1rem 0;
    border-radius: 8px;
    cursor: pointer;
    width: 20vw;
    height: 20vh;
    border: none;
    display: inline-block;
}

.color-codes {
    margin: 1rem 0;
    font-size: 1rem;
}

.color-code {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.color-code span {
    margin-right: 8px;
}

.color-variants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 4px;
    border: 1px solid var(--border-color);
}

.color-variant-swatch {
    padding: 10px;
    width: 20vw;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.color-variant-swatch:hover {
    transform: scale(1.1);
}
.copy-button {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    cursor: pointer;
}